##Folders
Code/.ipynb_checkpoints/*
Results/*
Code/Sampling/pyDOE*

# Extra python files
*.pyc

## Other Files
*.doc
*.$$$
*.log
*pptx
*_UCB_SW_Discl*

## Doxygen files
docs/html/*
docs/latex/*

## Latex Files
*.bib
*.tex
*.gz
*.xml
*.log
*.out
*.blg
*.bcf
*.bbl
*.aux